<title>{{ page.title | append: ' | ' | append: site.title | escape }}</title>
{%- assign desc = page.excerpt | strip_html | slice: 0, 160 | escape %}
<!-- Standardized -->
<meta name="author" content="{{ page.author | default: site.author | escape }}" />
<meta name="robots" content="index, follow" />
<meta name="description" content="{{ desc }}" />
<meta name="msapplication-navbutton-color" content="#ff1526" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- OpenGraph -->
<meta name="og:url" content="{{ page.url | absolute_url }}" />
<meta name="og:type" content="{%- if page.date -%}article{%- else -%}website{%- endif -%}" />
<meta name="og:title" content="{{ page.title | escape }}" />
{% assign image = page.image.path | default: page.image | default: site.defaultmedia -%}
{%- if image -%}
<meta name="og:image" content="{{ image | absolute_url }}" />
{% endif -%}
<meta name="og:locale" content="en_US" />
<meta name="og:site_name" content="{{ site.title }}" />
<meta name="og:description" content="{{ desc }}" />
{%- if page.date %}
<meta name="article:published_time" content="{{ page.date | date: '%Y-%m-%dT%H:%M:%S+01:00' }}" />
{%- endif %}
<!-- Discord -->
<meta name="theme-color" content="#ff1526" />
<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<!-- Link -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="canonical" href="{{ page.url | absolute_url }}" />
{% feed_meta %}
