<div id="share" style="margin-bottom: 10px;">
    Share on
    <a style="text-decoration: none;"
        href="https://www.tumblr.com/widgets/share/tool?posttype=link&canonicalUrl={{ 'https://ellietheyeen.github.io' | append: page.url | uri_escape }}&title={{ page.title | uri_escape }}&caption=&content=&tags=">
        <span style="color: #FFFFFF; background-color: #34465D; padding: 6px; border-radius: 6px;">Tumblr</span>
    </a>
    <a style="text-decoration: none;"
        href="https://twitter.com/intent/tweet?url={{ 'https://ellietheyeen.github.io' | append: page.url | uri_escape }}&text={{ page.title | uri_escape }}">
        <span style="color: #FFFFFF; background-color: #08a0e9; padding: 6px; border-radius: 6px;">Twitter</span>
    </a>
</div>