<div id="share" style="margin-bottom: 10px;">
    Share on
    <a style="text-decoration: none;"
        href="https://www.tumblr.com/widgets/share/tool?posttype=link&canonicalUrl={{ 'https://ellietheyeen.github.io' | append: page.url | uri_escape }}&title={{ page.title | uri_escape }}&caption=&content=&tags=">
        <span
            style="display:inline-block; height: 20px; color: #FFFFFF; background-color: #34465D; padding: 6px; border-radius: 6px;">Tumblr</span>
    </a>
    <a style="text-decoration: none;"
        href="https://twitter.com/intent/tweet?url={{ 'https://ellietheyeen.github.io' | append: page.url | uri_escape }}&text={{ page.title | uri_escape }}">
        <span
            style="display:inline-block; height: 20px; color: #FFFFFF; background-color: #08a0e9; padding: 6px; border-radius: 6px;">Twitter</span>
    </a>
    <span
        style="cursor: pointer; display:inline-block; height: 20px; color: #FFFFFF; background-color: #6260fa; padding: 6px; border-radius: 6px;"
        type="button" data-toggle="modal" data-target="#myModal" onclick="mastodon_modal()">Mastodon</span>
</div>
<dialog id="mastodon_modal" style="color: white; background-color: black;">
    <button onclick="mastodon_modal(true)">Close</button><br />
    Instance: <input id="mast_inst" name="mastodon" oninput="mastodon_share()" type="text" placeholder="toot.cat" /><br />
    <a id="mastodon_share" style="text-decoration: none;">
        <span style="cursor: pointer; display:inline-block; height: 20px; color: #FFFFFF; background-color: #6260fa; padding: 6px; border-radius: 6px;">Share</span>
    </a>
</dialog>
<script>
    function mastodon_modal(hide = false) {
        var mast_modal_elem = document.getElementById("mastodon_modal")
        if (hide || mast_modal_elem.open) {
            mast_modal_elem.close()
        } else {
            mast_modal_elem.show()
        }
        //mast_modal_elem.style.display = (hide || mast_modal_elem.style.display === "block") ? "none" : "block"
    }
    function mastodon_share() {
        var inst_e = document.getElementById("mast_inst")
        var inst = inst_e.value
        if (inst.length === 0) {
            inst = "toot.cat"
        }
        if (inst.search(/https?/) !== 0) {
            inst = "https://" + inst
        }
        if (inst.substr(inst.length - 1) === "/") {
            inst = inst.substr(0, inst.length - 1)
        }
        var text = `${document.URL}\n${document.title}`
        var share = document.getElementById("mastodon_share")
        share.href = `${inst}/share?text=${encodeURIComponent(text)}`
    }
    mastodon_share()
    //document.addEventListener("click", () => mastodon_modal(true))
</script>