---
layout: default
---
<div class="toplinks">
    <a href="/">Home</a>
    <a href="/projects.html">Projects</a>
    <a href="/about.html">About</a>
</div>

{%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

<div class="bottomlinks">
    <a href="#a-title">Top</a>
    <a href="/">Home</a>
    <a href="/feed.xml">RSS</a>
    <a href="https://toot.cat/@DPSsys" target="_blank">Mastodon</a>
    <a href="https://ellietheyee.nu/" target="_blank">Socials</a>
</div>
